@model Tuple<DomainModel, List<DomainModel>>

<h2>Submit Email</h2>
<div>Submit an email to have the domain verified</div>

@using (Html.BeginForm("VerifyDomain", "Home"))
{
    <div>
        <label>Email to be checked:</label>
    </div>
    <div>
        @Html.TextBoxFor(m => m.Item1.Address)
    </div>
    <div>
        <input type="submit" value="Verify" />
    </div>
}


<table>
    <tr>
        <td>Address</td>
        <td>ExpiryDate</td>
        <td>Provider</td>
        <td>Status</td>
    </tr>

    @foreach (var item in Model.Item2)
    {
<tr>
    <td>@item.Address</td>
    <td>@item.ExpiryData</td>
    <td>@item.Provider</td>
    <td>@item.IsValid</td>
</tr>
    }

</table>


